:root {
  --main-color: #f4f8fb;
  --main--brown: #a18375;
  --secondary-brown: #6b544a;
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: local("Raleway-ExtraLight"), url("./fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: normal;
}

body {
  background-color: var(--main-color);
  font-family: "Raleway-ExtraLight";
}

.container {
}

.cats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.single-cat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
}

.single-cat img {
  align-self: center;
  width: 100%;
  max-height: auto;
}

.btn {
  width: 100px;
  align-self: center;
  background-color: var(--main--brown);
  border: none;
  color: black;
  height: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-brown);
}

label {
  display: inline;
}

.search-engine {
  width: 400px;
  height: 50px;
  font-size: 36px;
  margin-left: 20px;
  border: none;
  -webkit-box-shadow: 3px 3px 7px -1px rgba(117, 95, 69, 0.6);
  box-shadow: 3px 3px 7px -1px rgba(117, 95, 69, 0.6);
}
.search-engine:focus {
  border: 1px solid rgb(117, 95, 69);
}
.search-container {
  height: 100px;
  text-align: center;
}
.search-label {
  font-size: 36px;
}

.img-container {
  height: 200px;

  overflow: hidden;
  object-fit: contain;
}
.img-container > img {
  transform: translateY(-10%);
}
.paginate-btn {
  height: 50px;
  width: 50px;
  border: none;
  background-color: #6b544a;
  color: whitesmoke;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 10%;
}

.paginate-btn.active {
  background-color: #a18375;
}

.btn {
  height: 30px;
  width: 100px;
  border: none;
  background-color: #6b544a;
  color: whitesmoke;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 10%;
}

.paginate-btn:hover {
  background-color: #a18375;
}
.pagination-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.header-menu {
  height: 100px;
  background-color: #6b544a;
  color: white;
  padding: 20px 50px 20px 50px;

  margin-bottom: 50px;
}
.cat-icon {
  font-size: 80px;
  margin-right: 20px;
}
.header-title {
  font-size: 40px;
  margin: 0;
}
.header-left {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.header-right {
  width: 300px;
  float: right;
}
.header-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.header-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.header-link:hover {
  text-decoration: underline;
}
.custom-search-inputs {
  width: 800px;
  margin: 0 auto;
}

.custom-search-title {
  margin-bottom: 5px;
  font-size: 20px;
}

.custom-search-inputs > div {
  height: 50px;
}

.radio {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 30px;
}

.radio + .radio {
  margin-left: 20px;
}

.radio input[type="radio"] {
  display: none;
}
.radio span {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid rgb(107, 84, 74);
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  cursor: pointer;
}

.radio span:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #a18375;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 0.3s ease-in-out 0s;
}

.filter-button {
  margin: 50px;
  width: 100px;
  height: 50px;
  outline: 0;
  background-color: #a18375;
  color: white;
  border: 2px solid #6b544a;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.3rem;
}

.filter-button:hover {
  background-color: #6b544a;
}

.radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}

.single-cat-container {
  margin: 0 500px;
}
.single-cat-image {
  width: 400px;
}
.single-cat-info {
  width: 800px;
  display: flex;
  font-size: 24px;
}
.cat-info-parameters {
  margin-left: 50px;
  font-weight: 900;
}
.description {
  font-size: 20px;
}

/* Container for all loading */

.loading {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 500;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.search-choice {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.search {
  border-radius: 5%;
  background-color: #6b544a;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: whitesmoke;
  -webkit-box-shadow: 1px 2px 15px -1px #000000;
  box-shadow: 1px 2px 15px -1px #000000;
  transition: 0.2s ease;
}

.search p {
  text-align: center;
}

.search-choice a {
  text-decoration: none;
}

.search-choice a:hover > div {
  -webkit-box-shadow: 2px 8px 1px -1px #000000;
  box-shadow: 2px 8px 15px -1px #000000;
}

.form {
  margin-bottom: 100px;
}
